/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

* {
  margin: 0;
}

body {
  margin: 0 7vw;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  padding: 25px 0;
}

h1,
h2,
h3,
h4 {
  color: #2c303f;
  font-family: "Times New Roman", Times, serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100vw; */
  height: 40px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2vh 8vw 2vh 5vw;
  justify-content: space-between;
}

nav img {
  height: 100%;
}

/* HEADER */

header {
  margin-top: 14vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

header .e-mail {
  border: 1px solid grey;
  border-radius: 5px;
  /* height: 35px; */
  padding: 10px 10px;
  color: grey;
}

header button {
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid #192592;
  background-color: #192592;
  color: white;
}

header .header-img {
  order: 2;
  width: 75%;
  align-self: center;
  margin-top: 35px;
}

header .e-mail,
header button {
  margin-top: 20px;
}

header .sign-up {
  align-self: center;
  margin-top: 10px;
}

/*  */

/* width < 768px */
/* 768px < widht < 960px */
/* 960px < width < 1024px */
/* width > 1024px */

@media (max-width: 768px) {
  body {
    background-color: red;
  }

  .nav-items {
    display: none;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3px;
  }

  .menu .menu-line {
    background-color: grey;
    width: 33px;
    height: 4px;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  body {
    background-color: blue;
  }
}

@media (min-width: 960px) {
  body {
    background-color: green;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-items li {
    list-style-type: none;
  }
}
